:root {
  --primarycolor: #1877f2;
  --green: #42b72a;
  --grey: #f0f2f5;
  --darktextcolor: #1c1e21;
  --graytextcolor: #676e77;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

/* Header */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  /* width: 100%; */

  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

header {
  background-color: var(--grey);
  height: 60vh;
  /* display: flex; */
}

.logo {
  width: 200px;
}

.logo_wrapper {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_title {
  font-weight: 200;
  font-size: 1.5em;
}

.login_text {
}

.profile_wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.profile_card {
  width: 160px;
  border-radius: 8px;
  background-color: var(--white);
  overflow: hidden;
  border: 1px solid #e6e8eb;
  transition: all 400ms;
  cursor: pointer;
}

.profile_card:hover {
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.62);
  transition: all 400ms;
}

.image {
  background-color: #f5f6f7;
  height: 160px;
  overflow: hidden;
}

.profile_card img {
  height: 160px;
  object-fit: cover;
}

.profile_name {
  padding: 0.3em;
  text-align: center;
  font-size: 1.3em;
}

.add_account_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_account_button i {
  background-color: var(--primarycolor);
  color: var(--white);
  padding: 0.5em;
  border-radius: 50%;
  font-size: 1.5em;
}

.add {
  color: var(--primarycolor);
}

/* login form */

.login_form_wrapper {
  display: flex;
  flex-direction: column;
}

.login_form {
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 8px;
  max-width: 450px;
  text-align: center;

  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.62);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  transition: all 400ms;
}

.form_row {
  width: 100%;
}

.login_form input {
  width: 100%;
  padding: 1em;
  border: 1px solid #dddfe2;
  font-size: 1.2em;
  /* color: #dddfe2; */
  border-radius: 5px;
  margin-bottom: 1em;
}

.login_form input::placeholder {
  color: #90949c;
}

button {
  background-color: var(--primarycolor);
  border: none;
  padding: 0.7em 1em;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 5px;
  width: 100%;
}

.forgot_password {
  color: var(--primarycolor);
  margin: 1em 0;
}
.form_line {
  /* color: var(--graytextcolor); */
  /* background-color: red; */
  border-top: 1px solid #dadde1;
  margin: 2em 0;
}

.btn_green {
  background-color: var(--green);
  width: fit-content;
}

.create_page {
  text-align: center;
  margin-top: 2em;
}
.create_page span {
  font-weight: bold;
}
